
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div {
  font-family: Lato;
}
p {
  font-family: Lato;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Curcular/CircularStd-Bold.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: local('Lato'), url(./fonts/Curcular/CircularStd-Medium.ttf) format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: local('Lato'), url(./fonts/Curcular/CircularStd-Book.ttf) format('truetype');
  font-style: normal;
}

.wrapper{
  padding-top: 3rem;
  margin: 0 auto;
  width: 1200px;
}
